<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">USA Explorer</title>
</head>
<main>
<body>
<link href="/styles.css" type="text/css" rel="stylesheet" media="screen">
<header><h1 id="title">Stateside Traveler</h1></header>
<article>
<h1>Main duties of my application</h1>
    <ul>
        <li><h2>Create a User</h2></li>
        <li><h2>Keep track of the States you have been to</h2></li>
        <li><h2>What did you do when you were there</h2></li>
        <li><h2>How would you rate your visit</h2></li>
        <li><h2>What is there to do in states that you haven't been to</h2></li>
        <li><h2>Suggestions based on what you have done in the past</h2></li>
    </ul>

</article>
</body>
</main>
</html>